header.admin {
	margin-top: 3rem;
	height: 16rem;
	overflow: hidden;
	text-align: right;
	color: #fff;
	font-family: monospace;
	padding: 1rem;
	font-size: 4em;
	background: url('ja.png') no-repeat 1% 50% #024;
	background-size: contain;
}

.event-list {
	padding: 0;
	list-style: none;
}

.event {
	display: grid;
	grid-template-columns: 90% 10%;
	margin-bottom: 2em;
	padding-bottom: .5em;
	border-bottom: 1px solid gray;
}

.event-info {
	grid-column: 1;
}

.event-info h3 {
	padding: 0;
	margin-top: 0;
}

.event-info p {
	word-wrap: break-word;
}

.event-actions {
	grid-column: 2;
	text-align: center;
	display: inline-block;
}

.event-actions a {
	text-decoration: none;
}

.gridsplit {
	display: grid;
	grid-template-columns: 75% 25%;
}

.gridsplit5050 {
	display: grid;
	grid-template-columns: 50% 50%;
}

.gridl {
	height: 100%;
	grid-column: 1;
}

.gridr {
	height: 100%;
	padding: 0 1em;
	margin-left: 1em;
	border-left: 1px solid gray;
	grid-column: 2;
}

.allgrids {
	grid-column: 1 / -1;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.btn {
	text-decoration: none;
	border: 1px solid #048;
	color: #048;
	padding: .2em 1em;
	border-radius: .2em;
	white-space: nowrap;
	display: inline-block;
	margin-bottom: .25em;
}
.btn:hover {
	border-color: #084;
	background: #eee;
	color: #084;
}
.btn:active {
	border-color: #084;
	background: #084;
	color: white;
}