.tools {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tools li {
	margin: 1.5em 0;
}

.event-list {
	padding: 0;
	list-style: none;
}

.event {
	display: grid;
	grid-template-columns: auto 5em;
	
	margin-bottom: 2em;
	padding-bottom: .5em;
	border-bottom: 1px dotted rgba(0,0,0,0.5);
}

.event-info {
	grid-column: 1;
}

.event-info h3 {
	padding: 0;
	margin-top: 0;
}

.event-info p {
	word-wrap: break-word;
}

.event-info a {
	color: black;
	text-decoration: none;
}

.event-info a:hover {
	text-decoration: underline;
}

.event-actions {
	grid-column: 2;
	text-align: right;
}
.event-actions .btn {
	margin: 0.3em 0;
	display: inline-block;
}

.fullwidth_inputs input,
.fullwidth_inputs textarea {
	width: 100%;
}

.allgrids {
	grid-column: 1 / -1;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.userlist {
	table-layout: fixed;
	width: 100%;
	margin: 1em 0;
}

.userlist tr th {
	text-align: left;
}

.userlist tr {
    border-bottom: 1px solid gray;
    min-width: 100%;
}

.usergroupcheckbox {
	margin-right: .3em;
}

.newuserrow {
	background-color: #ddd;
}

.newuserelement {
	background-color: #ddd;
	border-bottom: 2px dotted gray;
}

.newuserelement input {
	border: none;
	background-color: #ddd;
}
