main {
  margin: 0px !important;
  padding: 0px !important;
  width: 100vw;
}


.serviceGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  margin: 6% 2%;
}

/* Base styles for all cards */
.baseServiceCard {
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 14px;

  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

/* Category Title Card Styling */

.categoryTitleCard {
  align-items: center;
  justify-content: center;
  text-align: center;

  box-shadow: none;
  min-height: 140px;
}

.categoryTitle {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Service Card Styling */

.serviceCard {
  display: flex;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 14px;

  height: fit-content;
  width: fit-content;
}

/*.serviceCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}*/

.serviceContent {
  flex: 1;
}

.serviceTitle {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

.serviceDescription {
  margin: 0 0 1rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.serviceLink a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;

}

.serviceLink a:hover {
  text-decoration: underline;
}

.serviceImage {
  width: 56px;
  height: 56px;
  object-fit: contain;
  align-self: flex-start;
}
