body {
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	font-style: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

main {
	padding: 1em 15vw;
	height: 100vh;
	margin-top: 7vh;

	background-color: #fff;
}

main h2 {
	color: #002244;
}

article {
	margin-bottom: 7vh;
}

.gridsplit {
	padding-top: 1.3em;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.gridsplit5050 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gridsplitthirds {
	display: grid;
	grid-column-gap: 2em;
	column-rule-style: dotted;
	grid-template-columns: 1fr 1fr 1fr;
}

.gridl {
	height: 100%;
	grid-column: 1;
	grid-row: 1;
}

.gridr {
	height: 100%;
	padding: 0 1em;
	margin-left: 1em;
	border-left: 1px dotted rgba(0,0,0,0.5);
	grid-column: 2;
}

.gridsplit h1:first-child,
.gridsplit h2:first-child,
.gridsplit h3:first-child,
.gridsplit h4:first-child,
.gridsplit h5:first-child,
.gridsplit h6:first-child {
	margin-top: 0;
}

.btn {
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	background-color: #002244;

	transition: background-color .2s ease;
}

.btn:hover {
	background-color: #00407F;

	transition: background-color .2s ease;
}

.subnote {
	margin-top: 0;
	color: gray;
	font-size: .7em;
	font-style: italic;
}

.no-chin {
	margin-bottom: 0;
}

.ruler {
	border: none;
	border-bottom: 1px dotted rgba(0,0,0,.5);
}
