body {
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	font-style: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

main {
	padding: 1em 15vw;
	height: 100vh;
	margin-top: 7vh;

	background-color: #fff;
}

main h2 {
	color: #002244;
}

.btn {
	padding: .5em;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	background-color: #002244;

	transition: background-color .2s ease;
}

.btn:hover {
	background-color: #00407F;

	transition: background-color .2s ease;
}

.subnote {
	margin-top: 0;
	color: gray;
	font-size: .7em;
	font-style: italic;
}

.no-chin {
	margin-bottom: 0;
}

.ruler {
	border: none;
	border-bottom: 1px dotted rgba(0,0,0,.5);
}